mozci:
  adminRoles:
    - github-team:mozilla/ci-and-quality-tools
  repos:
    - github.com/mozilla/mozci:*
  workerPools:
    ci:
      owner: mcastelluccio@mozilla.com
      emailOnError: false
      imageset: docker-worker
      cloud: gcp
      minCapacity: 0
      maxCapacity: 50
      workerConfig:
        dockerConfig:
          allowPrivileged: true
    compute-smaller:
      owner: mcastelluccio@mozilla.com
      emailOnError: false
      imageset: docker-worker
      cloud: gcp
      minCapacity: 0
      maxCapacity: 25
      machineType: "zones/{zone}/machineTypes/n2-standard-2"
    compute-small:
      owner: mcastelluccio@mozilla.com
      emailOnError: false
      imageset: docker-worker
      cloud: gcp
      minCapacity: 0
      maxCapacity: 25
      machineType: "zones/{zone}/machineTypes/n2-standard-4"
    generic-worker-ubuntu-22-04:
      owner: mcastelluccio@mozilla.com
      emailOnError: false
      imageset: generic-worker-ubuntu-22-04
      cloud: gcp
      minCapacity: 0
      maxCapacity: 5
      machineType: "zones/{zone}/machineTypes/c3-standard-8"
      workerConfig:
        genericWorker:
          config:
            enableInteractive: true
  secrets:
    testing: true
    production: true
  grants:
    # all repos
    - grant:
        - queue:create-task:highest:proj-mozci/*
        - queue:route:statuses
      to:
        - repo:github.com/mozilla/mozci:*

    # all hooks
    - grant:
        - queue:scheduler-id:-
        - queue:create-task:highest:proj-mozci/*
      to: hook-id:project-mozci/*

    # Routes for mozci docker images
    - grant:
        - queue:route:index.project.mozci.docker-pr.*
        - queue:route:index.project.mozci.docker.*
      to: repo:github.com/mozilla/mozci:*

    - grant:
        # Allow decision task to create children tasks
        - queue:create-task:project:none

        # Children tasks are indexed
        - queue:route:index.project.mozci.*

        # When a child task (prod or testing) is failing on TC,
        # an email should be sent to the analysis team
        - queue:route:notify.email.release-mgmt-analysis@mozilla.com.on-failed

        # Children tasks are able to send emails
        - notify:email:*

        # Children tasks are able to send notifications
        # to #sheriff-notifications room on Matrix
        - notify:matrix-room:!vNAdpBnFtfGfispLtR:mozilla.org
      to:
        - hook-id:project-mozci/decision-task-testing
        - hook-id:project-mozci/decision-task-production

    - grant:
        # Children tasks need to share a common cache
        - docker-worker:cache:mozci-classifications-testing

        # Children tasks read their configuration from taskcluster
        - secrets:get:project/mozci/testing
      to: hook-id:project-mozci/decision-task-testing

    - grant:
        # Children tasks need to share a common cache
        - docker-worker:cache:mozci-classifications-production

        # Children tasks read their configuration from taskcluster
        - secrets:get:project/mozci/production
      to: hook-id:project-mozci/decision-task-production

    - grant:
        # Monitoring tasks read their configuration from taskcluster
        - secrets:get:project/mozci/testing

        # The monitoring tasks needs to send emails to admins
        - notify:email:*
      to: hook-id:project-mozci/monitoring-testing

    - grant:
        # Monitoring tasks read their configuration from taskcluster
        - secrets:get:project/mozci/production

        # The monitoring tasks needs to send emails to admins
        - notify:email:*
      to: hook-id:project-mozci/monitoring-production

    - grant:
        # Backfill tasks are able to send notifications
        # to #sheriff-notifications room on Matrix
        - notify:matrix-room:!vNAdpBnFtfGfispLtR:mozilla.org
      to:
        - hook-id:project-mozci/check-backfills-testing
        - hook-id:project-mozci/check-backfills-production

    - grant:
        # Backfill tasks are indexing themselves
        - index:insert-task:project.mozci.check-backfill.testing.*

        # Backfill tasks read their configuration from taskcluster
        - secrets:get:project/mozci/testing
      to: hook-id:project-mozci/check-backfills-testing

    - grant:
        # Backfill tasks are indexing themselves
        - index:insert-task:project.mozci.check-backfill.production.*

        # Backfill tasks read their configuration from taskcluster
        - secrets:get:project/mozci/production
      to: hook-id:project-mozci/check-backfills-production

  hooks:
    decision-task-testing:
      description: Run mozci classification tasks for new pushes
      owner: mcastelluccio@mozilla.com
      emailOnError: true
      schedule: ['0 */6 * * *'] # once every 6 hours
      task:
        provisionerId: proj-mozci
        workerType: compute-smaller
        payload:
          image:
            type: indexed-image
            path: public/mozci.tar.zst
            namespace: project.mozci.docker.branch.master
          features:
            taskclusterProxy: true
          command:
            - decision
            - autoland
            - --environment=testing
          maxRunTime: 1800
        scopes:
          - assume:hook-id:project-mozci/decision-task-testing
        metadata:
          name: mozci decision task - testing
          description: mozci decision task
          owner: mcastelluccio@mozilla.com
          source: https://github.com/mozilla/mozci

    monitoring-testing:
      description: Run mozci monitoring for the last day's tasks
      owner: mcastelluccio@mozilla.com
      emailOnError: true
      schedule: ['0 7 * * *'] # every day at 7am
      task:
        provisionerId: proj-mozci
        workerType: compute-smaller
        payload:
          image:
            type: indexed-image
            path: public/mozci.tar.zst
            namespace: project.mozci.docker.branch.master
          features:
            taskclusterProxy: true
          env:
            TASKCLUSTER_SECRET: project/mozci/testing
          command:
            - push
            - classify-eval
            - "--from-date=1 days ago"
            - --send-email
            - --recalculate
            - --detailed-classifications
            - --environment=testing
          maxRunTime: 1800
        scopes:
          - assume:hook-id:project-mozci/monitoring-testing
        metadata:
          name: mozci monitoring - testing
          description: mozci monitoring
          owner: mcastelluccio@mozilla.com
          source: https://github.com/mozilla/mozci

    check-backfills-testing:
      description: Check backfill completion every few minutes
      owner: mcastelluccio@mozilla.com
      emailOnError: true
      schedule: ['0 */6 * * *'] # once every 6 hours
      task:
        provisionerId: proj-mozci
        workerType: compute-smaller
        payload:
          image:
            type: indexed-image
            path: public/mozci.tar.zst
            namespace: project.mozci.docker.branch.master
          features:
            taskclusterProxy: true
          env:
            TASKCLUSTER_SECRET: project/mozci/testing
          command:
            - check-backfills
            - --nb-pushes=10
            - --environment=testing
          maxRunTime: 1800
        scopes:
          - assume:hook-id:project-mozci/check-backfills-testing
          - index:insert-task:project.mozci.check-backfill.testing.*
        metadata:
          name: mozci check-backfills - testing
          description: Check backfill completion every few minutes
          owner: mcastelluccio@mozilla.com
          source: https://github.com/mozilla/mozci

    decision-task-production:
      description: Run mozci classification tasks for new pushes
      owner: mcastelluccio@mozilla.com
      emailOnError: true
      schedule: ['*/10 * * * *'] # every 10 minutes
      task:
        provisionerId: proj-mozci
        workerType: compute-smaller
        payload:
          image:
            type: indexed-image
            path: public/mozci.tar.zst
            namespace: project.mozci.docker.branch.production
          features:
            taskclusterProxy: true
          command:
            - decision
            - autoland
            - --environment=production
          maxRunTime: 1800
        scopes:
          - assume:hook-id:project-mozci/decision-task-production
        metadata:
          name: mozci decision task - production
          description: mozci decision task
          owner: mcastelluccio@mozilla.com
          source: https://github.com/mozilla/mozci

    monitoring-production:
      description: Run mozci monitoring for the last day's tasks
      owner: mcastelluccio@mozilla.com
      emailOnError: true
      schedule: ['0 7 * * *'] # every day at 7am
      task:
        provisionerId: proj-mozci
        workerType: compute-smaller
        payload:
          image:
            type: indexed-image
            path: public/mozci.tar.zst
            namespace: project.mozci.docker.branch.production
          features:
            taskclusterProxy: true
          env:
            TASKCLUSTER_SECRET: project/mozci/production
          command:
            - push
            - classify-eval
            - "--from-date=1 days ago"
            - --send-email
            - --recalculate
            - --detailed-classifications
            - --environment=production
          maxRunTime: 1800
        scopes:
          - assume:hook-id:project-mozci/monitoring-production
        metadata:
          name: mozci monitoring - production
          description: mozci monitoring
          owner: mcastelluccio@mozilla.com
          source: https://github.com/mozilla/mozci

    check-backfills-production:
      description: Check backfill completion every few minutes
      owner: mcastelluccio@mozilla.com
      emailOnError: true
      schedule: ['*/5 * * * *'] # every 5 minutes
      task:
        provisionerId: proj-mozci
        workerType: compute-smaller
        payload:
          image:
            type: indexed-image
            path: public/mozci.tar.zst
            namespace: project.mozci.docker.branch.production
          features:
            taskclusterProxy: true
          env:
            TASKCLUSTER_SECRET: project/mozci/production
          command:
            - check-backfills
            - --nb-pushes=40
            - --environment=production
          maxRunTime: 1800
        scopes:
          - assume:hook-id:project-mozci/check-backfills-production
          - index:insert-task:project.mozci.check-backfill.production.*
        metadata:
          name: mozci check-backfills - production
          description: Check backfill completion every few minutes
          owner: mcastelluccio@mozilla.com
          source: https://github.com/mozilla/mozci
