relman:
  adminRoles:
    - github-team:mozilla/ci-and-quality-tools
  externallyManaged: true # some hooks are deployed into this space
  repos:
    - github.com/mozilla/microannotate:*
    - github.com/mozilla/bugzilla-dashboard-backend:*
    - github.com/mozilla/task-boot:*
    - github.com/mozilla/code-coverage:*
    - github.com/mozilla/code-review:*
    - github.com/mozilla/rust-code-analysis:*
    - github.com/mozilla/dump_syms:*
    - github.com/mozilla/libmozevent:*
    - github.com/mozilla/rust-parsepatch:*
    - github.com/mozilla/pyo3-parsepatch:*
    - github.com/mozilla/libmozdata:*
    - github.com/mozilla/bugbot:*
    - github.com/mozilla/coverage-crawler:*
    - github.com/mozilla/stab-crashes:*
    - github.com/mozilla/grcov:*
    - github.com/mozilla/adr:*
  clients:
    bugbug/code-review-production:
      scopes:
        - hooks:trigger-hook:project-bugbug/bugbug-*
        - notify:email:*
    bugbug/code-review-testing:
      scopes:
        - hooks:trigger-hook:project-bugbug/bugbug-*
        - notify:email:*
  workerPools:
    ci:
      owner: mcastelluccio@mozilla.com
      emailOnError: false
      imageset: generic-worker-ubuntu-24-04
      cloud: gcp
      minCapacity: 0
      maxCapacity: 50
    win2022:
      owner: mcastelluccio@mozilla.com
      emailOnError: false
      imageset: generic-worker-win2022
      cloud: azure
      securityGroups:
        - rdp
      minCapacity: 0
      maxCapacity: 10
      instanceTypes:
        m7i.2xlarge: 1
        m7i.4xlarge: 1
        c7i.2xlarge: 1
        c7i.4xlarge: 1
      vmSizes:
        Standard_F8s_v2: 1
        Standard_F16s_v2: 1
        Standard_D8s_v3: 1
        Standard_D16s_v3: 1
    generic-worker-ubuntu-24-04:
      owner: mcastelluccio@mozilla.com
      emailOnError: false
      imageset: generic-worker-ubuntu-24-04
      cloud: gcp
      minCapacity: 0
      maxCapacity: 50

  secrets:
    bugzilla-dashboard-backend/deploy-production: true
    bugzilla-dashboard-backend/deploy-testing: true
    code-coverage/release: true
    code-coverage/deploy-production: true
    code-coverage/deploy-testing: true
    code-coverage/dev: true
    code-review/deploy-dev: true
    code-review/deploy-production: true
    code-review/deploy-testing: true
    code-review/release: true
    dump_syms/deploy: true
    microannotate/deploy: true
    taskboot/deploy: true
    libmozevent/deploy: true
    libmozdata/deploy: true
    rust-code-analysis/deploy: true
    rust-parsepatch/deploy: true
    pyo3-parsepatch/deploy: true
    stab-crashes/deploy: true
    stab-crashes/production: true
    grcov/deploy: true
  grants:
    - grant:
        - generic-worker:allow-rdp:proj-relman/*
      to:
        - project-admin:relman

    # all repos
    - grant:
        - queue:create-task:highest:proj-relman/*
        - queue:route:statuses
        - queue:route:checks
      to:
        - repo:github.com/mozilla/microannotate:*
        - repo:github.com/mozilla/task-boot:*
        - repo:github.com/mozilla/code-coverage:*
        - repo:github.com/mozilla/code-review:*
        - repo:github.com/mozilla/rust-code-analysis:*
        - repo:github.com/mozilla/rust-parsepatch:*
        - repo:github.com/mozilla/pyo3-parsepatch:*
        - repo:github.com/mozilla/bugzilla-dashboard-backend:*
        - repo:github.com/mozilla/dump_syms:*
        - repo:github.com/mozilla/libmozevent:*
        - repo:github.com/mozilla/libmozdata:*
        - repo:github.com/mozilla/bugbot:*
        - repo:github.com/mozilla/coverage-crawler:*
        - repo:github.com/mozilla/stab-crashes:*
        - repo:github.com/mozilla/grcov:*
        - repo:github.com/mozilla/adr:*

    # all hooks
    - grant:
        - queue:scheduler-id:-
        - queue:create-task:highest:proj-relman/*
      to: hook-id:project-relman/*

    # bugzilla-dashboard-backend
    - grant: docker-worker:capability:privileged
      to: repo:github.com/mozilla/bugzilla-dashboard-backend:*
    - grant: secrets:get:project/relman/bugzilla-dashboard-backend/deploy-production
      to: repo:github.com/mozilla/bugzilla-dashboard-backend:branch:production
    - grant: secrets:get:project/relman/bugzilla-dashboard-backend/deploy-testing
      to: repo:github.com/mozilla/bugzilla-dashboard-backend:branch:testing

    # task-boot
    - grant: docker-worker:capability:privileged
      to: repo:github.com/mozilla/task-boot:*
    - grant: secrets:get:project/relman/taskboot/deploy
      to:
        - repo:github.com/mozilla/task-boot:branch:master
        - repo:github.com/mozilla/task-boot:tag:*

    # code-coverage
    - grant: docker-worker:capability:privileged
      to: repo:github.com/mozilla/code-coverage:*
    - grant: secrets:get:project/relman/code-coverage/deploy-production
      to: repo:github.com/mozilla/code-coverage:branch:production
    - grant: secrets:get:project/relman/code-coverage/deploy-testing
      to: repo:github.com/mozilla/code-coverage:branch:testing
    - grant: secrets:get:project/relman/code-coverage/release
      to: repo:github.com/mozilla/code-coverage:tag:*

    # code-review
    - grant: docker-worker:capability:privileged
      to: repo:github.com/mozilla/code-review:*
    - grant:
        - secrets:get:project/relman/code-review/deploy-production
        - assume:hook-id:project-relman/code-review-integration-production
        - hooks:modify-hook:project-relman/code-review-integration-production
      to: repo:github.com/mozilla/code-review:branch:production
    - grant:
        - secrets:get:project/relman/code-review/deploy-testing
        - assume:hook-id:project-relman/code-review-integration-testing
        - hooks:modify-hook:project-relman/code-review-integration-testing
      to: repo:github.com/mozilla/code-review:branch:testing
    - grant: secrets:get:project/relman/code-review/release
      to: repo:github.com/mozilla/code-review:tag:*
    - grant:
        - notify:email:*
        - secrets:get:project/relman/code-review/integration-testing
        - docker-worker:cache:code-review-integration-testing
        - generic-worker:cache:code-review-integration-testing
      to: hook-id:project-relman/code-review-integration-testing
    - grant:
        - notify:email:*
        - secrets:get:project/relman/code-review/integration-production
        - docker-worker:cache:code-review-integration-production
        - generic-worker:cache:code-review-integration-production
      to: hook-id:project-relman/code-review-integration-production

    # dump_syms
    - grant: secrets:get:project/relman/dump_syms/deploy
      to: repo:github.com/mozilla/dump_syms:tag:*

    # micoannotate
    - grant: secrets:get:project/relman/microannotate/deploy
      to: repo:github.com/mozilla/microannotate:tag:*

    # libmozevent
    - grant: secrets:get:project/relman/libmozevent/deploy
      to:
        - repo:github.com/mozilla/libmozevent:tag:*

    # libmozdata
    - grant: secrets:get:project/relman/libmozdata/deploy
      to:
        - repo:github.com/mozilla/libmozdata:tag:*

    # rust-code-analysis
    - grant:
        - docker-worker:cache:rust-code-analysis-*
        - generic-worker:cache:rust-code-analysis-*
      to: repo:github.com/mozilla/rust-code-analysis:*
    - grant: secrets:get:project/relman/rust-code-analysis/deploy
      to:
        - repo:github.com/mozilla/rust-code-analysis:tag:*
        - repo:github.com/mozilla/rust-code-analysis:branch:master

    # rust-parsepatch
    - grant: secrets:get:project/relman/rust-parsepatch/deploy
      to: repo:github.com/mozilla/rust-parsepatch:tag:*

    # pyo3-parsepatch
    - grant: secrets:get:project/relman/pyo3-parsepatch/deploy
      to: repo:github.com/mozilla/pyo3-parsepatch:tag:*

    # stab-crashes
    - grant:
        - queue:route:notify.email.*
        - secrets:get:project/relman/stab-crashes/production
      to: hook-id:project-relman/stab-crashes*

    - grant:
        - secrets:get:project/relman/stab-crashes/deploy
        - assume:hook-id:project-relman/stab-crashes
        - hooks:modify-hook:project-relman/stab-crashes
      to: repo:github.com/mozilla/stab-crashes:tag:*

    # grcov
    - grant: secrets:get:project/relman/grcov/deploy
      to: repo:github.com/mozilla/grcov:tag:*
